@* Това казва на View-то, че очаква списък с филми *@
@model List<MyMovieLibrary.Models.Movie>

@{
	ViewData["Title"] = "My Movie Library";
}

<h1>@ViewData["Title"]</h1>

<table class="table">
	<thead>
		<tr>
			<th>Title</th>
			<th>Director</th>
			<th>Year</th>
			<th>Rating</th>
		</tr>
	</thead>
	<tbody>
		@* Циклим през всеки филм, който контролерът ни подаде *@
		@foreach (var movie in Model)
		{
			<tr>
				<td>
					<a asp-action="Details" asp-route-id="@movie.Id">Details</a> |
					<a asp-action="Edit" asp-route-id="@movie.Id">Edit</a>
				</td>

				<td>@movie.Director</td>
				<td>@movie.Year</td>
				<td>@movie.Rating / 10</td>
			</tr>
		}
	</tbody>
</table>